body {
  background-color: beige;
}

.Title {
  text-align: center;
  color: chocolate;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Catbutton {
  background-color: black;
  color: aliceblue;
  border-radius: 1rem;
}

.Catbutton:hover {
  background-color: #333;
}

.Catscontainer {
  min-height: 50vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}